.jumbotron {
    background: #000000;
}

.Game-Title {
    text-align: center;
    color: white;
}

.Simpsons-family {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.Game-Title {
    align-content: center;
}